### Librerias a importar

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pyodbc

### Lectura de archivo

In [7]:
cultivosIndia = pd.read_csv("CropProductiondata.csv")

In [9]:
cultivosIndia.head(5)

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,ANDAMAN AND NICOBAR,NICOBAR ISLANDS,2000,Kharif,Arecanut,1254.0,2000.0
1,ANDAMAN AND NICOBAR,NICOBAR ISLANDS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,ANDAMAN AND NICOBAR,NICOBAR ISLANDS,2000,Kharif,Rice,102.0,321.0
3,ANDAMAN AND NICOBAR,NICOBAR ISLANDS,2000,Whole Year,Banana,176.0,641.0
4,ANDAMAN AND NICOBAR,NICOBAR ISLANDS,2000,Whole Year,Cashewnut,720.0,165.0

In [10]:
cultivosIndia.shape

(246091, 7)

In [11]:
cultivosIndia.columns

Index(['State_Name', 'District_Name', 'Crop_Year', 'Season', 'Crop', 'Area',
       'Production'],
      dtype='object')

In [12]:
cultivosIndia.info

<bound method DataFrame.info of                  State_Name    District_Name  Crop_Year       Season  \
0       ANDAMAN AND NICOBAR  NICOBAR ISLANDS       2000  Kharif
1       ANDAMAN AND NICOBAR  NICOBAR ISLANDS       2000  Kharif
2       ANDAMAN AND NICOBAR  NICOBAR ISLANDS       2000  Kharif
3       ANDAMAN AND NICOBAR  NICOBAR ISLANDS       2000  Whole Year
4       ANDAMAN AND NICOBAR  NICOBAR ISLANDS       2000  Whole Year
...                     ...              ...        ...          ...
246086          West Bengal         PURULIYA       2014  Summer
246087          West Bengal         PURULIYA       2014  Summer
246088          West Bengal         PURULIYA       2014  Whole Year
246089          West Bengal         PURULIYA       2014  Winter
246090          West Bengal         PURULIYA       2014  Winter

                       Crop      Area  Production
0                  Arecanut    1254.0      2000.0
1       Other Kharif pulses       2.0         1.0
2                      Rice     102.0       321.0
3                    Banana     176.0       641.0
4                 Cashewnut     720.0       165.0
...                     ...       ...         ...
246086                 Rice     306.0       801.0
246087              Sesamum     627.0       463.0
246088            Sugarcane     324.0     16250.0
246089                 Rice  279151.0    597899.0
246090              Sesamum     175.0        88.0

[246091 rows x 7 columns]>

No tengo valores nulos asi que no tengo que rellenar con valores ya que es un dataframe completo.

In [13]:
for i in cultivosIndia.columns:
    print(i)
    print(cultivosIndia[i].describe())
    print("------------------------------")

State_Name
count            246091
unique               34
top       Uttar Pradesh
freq              33306
Name: State_Name, dtype: object
------------------------------
District_Name
count      246091
unique        644
top       BIJAPUR
freq          945
Name: District_Name, dtype: object
------------------------------
Crop_Year
count    246091.000000
mean       2005.643018
std           4.952164
min        1997.000000
25%        2002.000000
50%        2006.000000
75%        2010.000000
max        2015.000000
Name: Crop_Year, dtype: float64
------------------------------
Season
count          246091
unique              8
top       Kharif
freq            93584
Name: Season, dtype: object
------------------------------
Crop
count     246091
unique       126
top         Rice
freq       15104
Name: Crop, dtype: object
------------------------------
Area
count    2.460910e+05
mean     1.200282e+04
std      5.052340e+04
min      4.000000e-02
25%      8.000000e+01
50%      5.820000e+02
75%      4.392000e+03
max      8.580100e+06
Name: Area, dtype: float64
------------------------------
Production
count    2.423610e+05
mean     5.825034e+05
std      1.706581e+07
min      0.000000e+00
25%      8.800000e+01
50%      7.290000e+02
75%      7.023000e+03
max      1.250800e+09
Name: Production, dtype: float64
------------------------------